@charset "UTF-8";
@font-face {
    font-family: 'GyeonggiBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{margin: 0; padding: 0;}
ul{list-style: none;}
a{color: #000; text-decoration: none;}
body{
    font-family: 'GyeonggiBatang';
    font-size: 21px;
    line-height: 30px;
    color: #000;
}

/*TOP*/
#top{
    width: 1320px;
    height: 25px;
    margin: 25px auto 22px;
}
#top ul{
    float: right;
}
#top li{
    float: left;
    padding: 0 5px;
    font-size: 13px;
    font-family: 'Noto Sans KR';
    font-weight: 100;
}

/*header*/
header{
    position: relative;
}
.header_in{
    width: 1320px;
    margin: auto;
    height: 105px;
}
.nav> li{
    float: left;
    padding-top: 43px;
}

.nav> li>a{
    display: block;
    font-size: 30px;
    padding: 0 66px 20px;
}
.nav> li:nth-child(3)> a{
    padding: 0 107px;
}
.nav> li:nth-child(3){
    padding-top: 0;
}

/*sub*/
.sub{
    background: rgba(253,198,137,0.9);
    width: 100%;
    position: absolute;
    top: 105px;
    left: 0;
    z-index: 99;
    display: none;
}
.sub_in{
    width: 1320px;
    height: 183px;
    margin: auto;
}
.sub_in ul{
    float: left;
    padding-top: 17px;
}
.sub_in li{
    text-align: center;
    font-size: 17px;
    font-weight: bold; 
}
.sub_in li a{
    color: rgb(41, 41, 41);
}
.sub_in ul:nth-child(1){
    padding: 0 80px;
    padding-top: 17px;
}
.sub_in ul:nth-child(2){
    padding-left: 70px;
    padding-right: 540px;
}
.sub_in ul:nth-child(3){
    padding-right: 173px;
}
.sub_in a:hover{
    color: #fff;
}
.nav li:hover .sub{
    display: block;
}


#contents{
    width: 1320px;
    height: 576px;
    margin: 84px auto;
    text-align: center;
}
#contents h1{
    font-size: 20px;
    padding-bottom: 83px;
    font-weight: bold;
}
#contents li{
    float: left;
}
#contents ul li:nth-child(1), #contents ul li:nth-child(3){
    margin-right: 30px;
}

#contents .season{
    width: 1143px;
    height: 335px;
    margin: auto;
}
#contents .season li{
    margin: 0 30px;
    position: relative;
}

#contents .season .on div{
    position: absolute;
    top: 0;
    left: 0;
    width: 222px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 150px 150px 10px 10px;
}

#contents .next{
    width: 300px;
    margin: auto;
    padding-top: 83px;
    padding-bottom: 130px;
}
#contents .next a{
    display: inline-block;
    font-size: 25px;
    width: 135px;
    padding: 10px 0;
    background: #ebebeb;
}

#contents .next a:hover{
    background: #b7b7b7;
    color: #fff;
}

/*footer*/
footer{
    width: 100%;
    height: 320px;
    background: #fffbea;
}
.footer_in{
    width: 1320px;
    margin: auto;
    padding: 42px 0;
    font-size: 16px;
    font-weight: bold;
    background:  url(images/footer_logo.png) no-repeat 1142px 130px;
}
.footer_in ul:nth-child(1) li{
    float: left;
    padding-right: 40px;
}
.footer_in a{
    color: rgb(56, 56, 56);
}
.footer_in p{
    clear: both;
    line-height: 26px;
    padding: 42px 0;
    color: rgb(56, 56, 56);
}
.footer_in .sns li{
    position: relative;
    float: left;
    padding-right: 21px;
}
.footer_in .sns .hover{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.footer_in .sns li:hover .hover{
    opacity: 1;
}